.pipe {
	color: #AFAFAF;
	padding: 0 2px;
}

.navigator {
	background-image: url("../images/navigators.png");
    background-position: 0 -1px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 15px;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: middle;
    width: 8px;
}

#rightNavigator {
	margin-left: 3px;
}

#leftNavigator {
	margin-right: 3px;
}

.enableLeftNavigator {
	background-position: -8px -1px;
}

.disRightNavigator {
	background-position: -24px -1px;
}

.enableRightNavigator {
	background-position: -16px -1px;
}

.fLeft {
	float: left;
}

.fRight {
	float: right;
}

.cBoth {
	clear: both;
}

#navigatorBlock {
	background-color: #F5F5F5;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    color: #000;
    float: right;
    font-size: 11px;
    padding: 3px 6px;
}

.disabledTxt {
	color: #A8A8A8;
}

.enabledTxt {
	color: #1D74CB;
	cursor: pointer;
}

span[id ^="page"] {
	padding: 0 3px;
}

.pHead {
	clear: both;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 10px;
	padding-left: 20px;
}

.rlabel {
	width: 100px;
	font-weight: bold;
}

.llabel {
	border: 1px solid #D7D7D7;
	border-radius: 5px 5px 5px 5px;
	padding: 2px 5px;
	
}

#Info {
	border-radius: 6px 6px 6px 6px;
	margin-bottom: 0px;
	background-color: #000000;
	font-size: 15px;
	color: white;
}

#productDetails {
	float: left;
    font-weight: bold;
    padding: 5px;
    width: 120px;
}

.prodDetails {
	float: left;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 5px;
}

.imgDisp {
	border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    float: left;
    height: 100px;
    width: 100px;
}

#prodItems{
	width: 95%;
	border-radius :6px 6px 6px 6px;
	border: 1px solid #D3DAE6;
	border-top: 2px solid #D3DAE6;
	margin-top: 8px;
	margin-bottom : 10px;
	background-color:#ECEFF5;
	float :center;
}

.cartButton{
	float: left;
	width: 10%;
}

.addToCart:hover {
    cursor: pointer;
}

.addToCart{
	background-color: #006663;
    border: 1px solid #384313;
    border-radius: 4px;
    color: #FFF;
    float: right;
    font-size: 14px;
    line-height: 30px;
    margin-right: 10px;
    margin-top: 25px;
    padding: 2px 5px;
}
	
.addToCartDisabled{
	background-color: #A8A8A8;
	border: 1px solid #AFAFAF;
}

.addToCartDisabled:hover{
	cursor: auto !important;
}

div.submitDiv {
	margin-bottom: 5px;
    padding: 4px;
    text-align: center;
}

.submitBtn:hover {
    cursor: pointer;
}

input.submitBtn {
    background-color: #006633;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 6px;
    text-shadow: 0 -1px 0 #050505;
}

.prodRlabel {
    float: left;
    max-width: 240px;
    padding: 5px;
}

#prodListBlock{
	display: table;
    padding-bottom: 0;
    width: 640px;
}

.prodBlock {
    border: 1px solid #A3C9DB;
    border-radius: 6px 6px 6px 6px;
    display: table;
    margin-bottom: 6px;
    width: 99%;
}