<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
           
    <bean id="addressValidator" class="com.AL.ui.validation.activity.AddressValidator"></bean>
    <bean id="phoneNumberValidator" class="com.AL.ui.validation.activity.PhoneNumberValidator"></bean>
    <bean id="demographicValidator" class="com.AL.ui.validation.activity.DemographicValidator"></bean>
    <bean id="eMailAddressValidator" class="com.AL.ui.validation.activity.EMailAddressValidator"></bean>
    <bean id="securityValidator" class="com.AL.ui.validation.activity.SecurityVerificationValidator"></bean>
           
	<bean id="orderQualValidation" class="com.AL.ui.validation.impl.OrderQualValidationImpl">
	</bean>

</beans>
