/*@media (min-width: 1053px) {*/
@media only screen {
	#wrapper {
		background-color: #fff;
		color: #555;
		font-family: Arial,Helvetica,sans-serif;
		margin: 0 auto;
		padding: 0;
		width: 100%;
	}
	#wrapper, #wrapper > #Container, #Container > #content, #header {
		font-size: 100%;
		margin: 0 !important;
		max-width: 100%;
		overflow: visible;
		padding: 0;
		width: auto !important;
	}
	#wrapper #Container{
		width: 725px !important;
		margin: 0 auto !important;
	}
	#header{
		background-color: #f1f1f1;
		height: 60px;
		width: 100%;
	}
	.mandatoryMessage {
    background: yellow none repeat scroll 0 0;
    border: 1px solid #999;
    border-radius: 15px;
    display: inline-block;
    height: 13px;
    margin-right: 5px;
    padding: 1px;
    text-align: center;
    width: 10px;
}
	#Container .col-sm-12, #Container .col-md-12, #Container .col-lg-12{padding-left:0;padding-right:0;}
	#content .col-sm-11,#content .col-md-9, #content .col-lg-9, #content .col-md-3, #content .col-lg-3{padding-left:0;padding-right:0;}
	#header-info{margin:0;padding: 10px;}
	#header-info .site-info{float:left;}
	#header-info .site-info .site-logo{float:left;width:100px; height: 40px;}
	#header-info .site-info .site-title{float:left;margin-left: 30px;color: #545557;font-size: 20px;font-weight: bold;margin-top: 6px;}
	#header-info .secure-shopping{
		float:right;margin-right:15px;height:32px;margin-top:3px;padding-top:7px;color:#81bd41;font-size:13px;font-weight:bold;
	}
	#header-info .secure-shopping .secure-img{width:18px;height:18px;display: inline-block;}
	#header-info .secure-shopping .secure-img img{max-width:100%;max-height:100%;}

	/* Content */
	#Container #content{width:100%;padding-top:38px;display: inline-block;}
	#content #left_sec{float:left;width: 645px;margin:0 40px 0;}
	#content #steps{width: 100%;display:inline-block;padding-bottom:10px;border-bottom: 1px solid #e4e4e4;margin:0;}
	#content #steps div{float:left;}
	#content #steps > #step1, #content #steps > #step2, #content #steps > #step3, #content #steps > #step4{
		width:175px; height:32px;
	}
	#content #steps > #step4{
		width:120px;
	}
	#content #steps .step_id{
		background-color:#f0f2f1;width:32px;height:32px;border-radius:16px;text-align:center;font-size:18px;font-weight:bold;color:#555658;
		display: table-cell;vertical-align: middle;
	}
	#content #steps .step_title{text-align:left;font-size:12px;font-weight:normal;color:#555658;display: table-cell;line-height: 13px;padding-left: 5px;vertical-align: middle;}
	#content #steps .current-step .step_id, #content #steps .past-step .step_id{
		background-color:#81bd41;color:#fff;
	}
	#content #steps .current-step .step_title, #content #steps .past-step .step_title{color:#81bd41;font-weight:bold;}
	#content #steps .current-step .step_title{padding-top: 6px;}

	#content #customizations{width: 100%;display:inline-block;margin:20px 0 0;padding-bottom:10px;border-bottom: 1px solid #e4e4e4;}
	#content #customizations .cust_title{float:left;font-size: 13px;font-weight:bold;color: black;margin-top: 8px;}
	#content #customizations .next_step{float:right;}
	#content #customizations .next_step a{
		width:165px;height:34px;background-color:#81bd41;color:#fff;display:table-cell;vertical-align:middle;
		text-align:center;font-size: 18px;font-weight:bold;border-radius: 5px;text-decoration:none;
	}
	
	#content #bottom-footer{width: 100%;display:inline-block;margin:15px 0 20px;}
	#content #bottom-footer .prev_step{float:left;}
	#content #bottom-footer .prev_step a{color:#1f678f;text-align:left;font-size: 13px;font-weight:normal;text-decoration:underline;}
	#content #bottom-footer .prev_step a:hover{text-decoration:none;}

	#content #bottom-footer .next_step{float:right;}
	#content #bottom-footer .next_step a{
		width:165px;height:34px;background-color:#81bd41;color:#fff;display:table-cell;vertical-align:middle;
		text-align:center;font-size: 18px;font-weight:bold;border-radius: 5px;text-decoration:none;
	}
	#content a.help-icon{
		display:inline-block;background-color:#647f92;color:#fff;width:16px;height:16px;border-radius:8px;
		font-size:11px;font-weight:normal;text-align: center;text-decoration:none;vertical-align: inherit;
	}
	#content #left_sec .home-services-options{border: 1px solid #f1f1f1;margin-top:10px;margin-left:0px;margin-right:0px;}
	#content #left_sec .home-services-options .home-services-head{font-size:13px;padding:5px 0 5px 5px;font-weight: bold;margin: 12px 0 11px 12px;width: 96%;border-bottom: 1px solid #e4e4e4;color: black;}
	#content #left_sec .home-services-options .home-services-body{padding:10px 15px;font-size:13px;color:#000;}
	
	/*#content #left_sec .home-services-options input[type="text"]{width: 200px;}
	#content #left_sec .home-services-options input[type="text"],
	#content #left_sec .home-services-options select{
		height: 25px;
	}*/

	#accordion .panel-heading{background-color:#647f90;height:50px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;padding-top:16px;color: #fff;}
	#accordion .panel-heading a,#accordion .panel-heading a:hover{text-decoration: none;font-size: 15px;font-weight: bold;}
	#accordion .accord-selected .panel-heading{background-color:#81bd41;border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
	#accordion span.glyphicon {color: #fff;}
	#accordion .panel {border: 0px solid transparent;border-radius: 0;box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);margin-top:10px;}
	#accordion .panel-body{padding: 0;border-top:none;}
	#accordion .leftindicator{margin-right: 15px;font-size: 15px;}
	/* accordion Content */
	#content #left_sec .row{margin-left: 0;margin-right: 0;}
	#content #left_sec .home-services-options{border: 1px solid #f1f1f1;margin-top:10px;display: table;width: 100%;}
	#content #left_sec .home-services-head{font-size:13px;padding:5px 0 5px 15px;font-weight: bold;}
	#content #left_sec .home-services-body{padding:10px 15px;font-size:13px;color:#000;}

	#content #left_sec .tab_inner_content{width:100%;display:inline-block;}
	#content #left_sec .tv-section-container{width:50%;display:inline-block;float:left;padding: 15px 0 0;}
	#content #left_sec .tv-section-content{width:292px;border:1px solid #f1f1f1;padding:5px 5px 5px 10px;display:inline-block;}
	#content #left_sec .tv-section-container:nth-child(even) > .tv-section-content{float:right;}

	#content #left_sec span.full-width{display:block;}
	#content #left_sec #tv_features_icons{}
	#content #left_sec #tv_features_icons .features_icons{display:block;margin-bottom:15px;}
	#content #left_sec #tv_features_icons .features_icons .channel_icon{display:inline-block;margin-right:20px;max-height:32px;}
	#content #left_sec #tv_features_icons .features_icons .channel_icon:last-child{margin-right:0;}
	#content #left_sec #tv_features_icons .features_icons .channel_icon img{max-width:100%;max-height:100%;}

	#content #left_sec #tv_features_list{}
	#content #left_sec #tv_features_list .features_list{display:block;margin-bottom:5px;}
	#content #left_sec #tv_features_list .features_list .feature_item{display:inline-block;margin-right:25px;color:#555658;}
	#content #left_sec #tv_features_list .features_list .feature_item .glyphicon{color:#81bc3e;font-weight: normal;margin-right: 5px;}

	#content #left_sec .home-services-body-content{width:100%;display:inline-block;}
	#content #left_sec .home-services-body-content div.inner-container{
		width:98%;display:inline-block;border: 1px solid #f1f1f1;padding: 10px;margin:10px 5px;
	}
	#content #left_sec .home-services-body-content a.glyphicon-question-sign{color:#647f92;}

	#content #left_sec .home-services-body-content div.inner-container .single-block{float:left;display:inline-block;width:100%;}
	#content #left_sec .home-services-body-content div.inner-container .two-blocks{float:left;display:inline-block;width:50%;}
	#content #left_sec .home-services-body-content div.inner-container .three-blocks{float:left;display:inline-block;width:33.33%;}
	#content #left_sec .home-services-body-content div.inner-container input[type="text"],
	#content #left_sec .home-services-body-content div.inner-container select{
		height: 25px;
	}
	#content #left_sec .home-services-body-content .body-content-left{width:60%;}
	#content #left_sec .home-services-body-content .body-content-left span{}
	#content #left_sec .home-services-body-content .body-content-right{width:40%;}
	#content #left_sec .home-services-body-content .body-content-right .need_help_ordering{margin:20px 0;}
	#content #left_sec .home-services-body-content .body-content-right .need_help_ordering button{
		margin-right:6px;background-color:#637e91;color:#fff;font-size:20px;font-weight:bold;width:33px;height:33px;border:none;border-radius:4px;
	}
	#content #left_sec .home-services-body-content .body-content-right .need_help_ordering span{}
	#content #left_sec .home-services-body-content .body-content-right .need_help_ordering span span{display:table;color:#647e8f;font-size:12px;line-height: 14px;}
	#content #left_sec .home-services-body-content .body-content-right .need_help_ordering span.need_help_ordering_title{
		font-size:14px;font-weight:bold;line-height: 16px;padding-bottom:4px;
	}

	#content #left_sec .need_help_ordering_addtvs{margin:0px 0;color:#627f91;font-size:12px;}
	#content #left_sec .need_help_ordering_addtvs button{
		margin-right:5px;background-color:#637e91;color:#fff;font-size:14px;font-weight:bold;width:20px;height:20px;border:none;border-radius:3px;
	}
	#content #left_sec .need_help_ordering_addtvs span.need_help_ordering_title{font-size:14px;font-weight:bold;}

	#content #left_sec .home-services-options .home-services-body .nav-tabs{border-bottom: 0;}
	#content #left_sec .home-services-options .home-services-body .nav-tabs > li{margin-bottom: 0;}
	#content #left_sec .home-services-options .home-services-body .nav-tabs > li a{
		background-color:#f1f1f1;color:#545557;height:42px;font-weight:bold;font-size:14px;min-width:95px;
		border:none;margin-right:5px;border-radius: 4px;text-align: center;padding: 11px 12px;
	}
	#content #left_sec .home-services-options .home-services-body .nav-tabs > li.active a{background-color:#555658;color:#fff;}
	#content #left_sec .home-services-options .home-services-body .nav-tabs > li:first-child a{background-color:#3eb4e6;color:#fff;padding: 11px 10px;}
	#content #left_sec .home-services-options .home-services-body .nav-tabs > li:last-child a{margin-right:0;}
	.mandatory{color:#ff0000;font-size:12px;margin-right:5px;}

	/* Plan Summary */
	#content #right_sec{float:left;width: 252px;margin:0 0 0 45px;}
	#content #plan-summary{width: 100%;border:1px solid #f0f0f0;display: inline-block;}
	#content #plan-summary .plan_summary_title{width: 100%;background-color:#f1f1f1;color:#1d678c;font-size:15px;font-weight:bold;padding:11px 0 11px 12px;}
	#content #plan-summary .plan_summary_content{width: 100%;padding:10px;}
	#content #plan-summary .plan_summary_logo{width:100%; text-align: center;}
	#content #plan-summary .plan_summary_logo .logo-img{width:100px; height: 40px;margin: 0 auto;}
	#content #plan-summary .plan_details{width:100%;margin-top:35px;}
	#content #plan-summary .plan_item{width:100%;display:inline-block;font-size:14px;color:#1e688f;font-weight:bold;}
	#content #plan-summary .plan_name{float:left;text-align:left;width:70%;}
	#content #plan-summary .plan_price{float:right;text-align:right;width:30%;}

	#content #plan-summary .plan_price_details{width:100%;margin-top:15px;}
	#content #plan-summary .price_item_head{
		width:100%;display:inline-block;font-size:14px;color:#81bb40;font-weight:bold;margin-top:10px;border-bottom:1px solid #e4e4e4;padding-bottom:6px;
	}
	#content #plan-summary .price_item_head_name{float:left;text-align:left;width:70%;}
	#content #plan-summary .price_item_head_price{float:right;text-align:right;width:30%;}

	#content #plan-summary .price_item{
		width:100%;display:inline-block;font-size:12px;color:#545557;
	}
	#content #plan-summary .price_item_name{float:left;text-align:left;width:70%;}
	#content #plan-summary .price_item_price{float:right;text-align:right;width:30%;}

	#content #plan-summary .price_item_totals{
		width:100%;display:inline-block;font-size:16px;color:#1e688f;font-weight:bold;margin-top:10px;margin-bottom:30px;border-top:1px solid #e4e4e4;padding-top:3px;
	}
	#content #plan-summary .price_item_totals_name{float:left;text-align:left;width:70%;}
	#content #plan-summary .price_item_totals_price{float:right;text-align:right;width:30%;}

	#content #right_sec #price_notes{float:left;width: 100%;font-size:11px;color:#545454;margin-bottom:10px;}

	#content #need-order-help{
		width: 100%;background-color:#1e688f;color:#fff;font-size:14px;font-weight:bold;border:1px solid #f2f2f2;
		padding:10px;display: table;margin-top:15px;height:72px;overflow:hidden;
	}
	#content #need-order-help span{font-size:20px;line-height:33px;}

	#content #trust-security-icons{
		width: 100%;display: inline-block;margin-top:15px;height:45px;text-align:center;
	}
	#content #trust-security-icons .security-icon{max-height:45px;}
	#content #trust-security-icons .security-icon img{max-height:100%;max-width:100%;}
	
	/* Account Holder Qualifications */
	#content #left_sec form{padding:0;margin:0;display:inline-block;}
	#content #left_sec div.form-fieldset{
		padding:0;margin:0;display:inline-block;border:0;position:relative;
	}
	#content #left_sec div.form-fieldset input[type="text"], div.form-fieldset select{height: 25px;}
	div.form-fieldset .form-row{display:inline-block;width: 100%;}
	div.form-fieldset .form-group {display: inline-block;}
	div.form-fieldset label{display: block;margin-bottom: 0px;font-weight: normal;color:#333;}
	div.form-fieldset .form-text-fld {width: 200px;}
/*	div.form-fieldset .form-msg-snippet{
		width:100%;background-color:#e4f0fe;color:#006699;font-size:12px;font-weight:700;border:1px solid #00ccff;padding:5px 10px;border-radius:4px;margin-bottom:15px;
	}*/
	div.form-fieldset .form-optional{font-size:11px;color:#999;}
	div.form-fieldset .form-field-100{width:100px;}
	div.form-fieldset .form-field-160{width:160px;}
	div.form-fieldset #form-security-icons{
		position: absolute;top: 25px;right: 0px;
	}
	div.form-fieldset #form-security-icons .trust_security_icon{width: 78px;height: 26px;}
	div.form-fieldset #form-security-icons .verisign_security_icon{width: 80px;height: 39px;}
	div.form-fieldset #form-security-icons .accredited_security_icon{width: 80px;height: 34px;}
	div.form-fieldset #form-security-icons img{max-width:100%;max-height:100%;}

	/* Installation and Payment */
	#content .msg-snippet{
		width:100%;background-color:#e4f0fe;color:#006699;font-size:13px;font-weight:700;
		border:1px solid #00ccff;padding:5px 10px;margin-bottom:15px;text-align:center;
	}
	#content .install-type-msg-snippet{
		width:100%;background-color:#eee;color:#333;font-size:14px;font-weight:700;border-radius:5px;
		border:1px solid #ccc;padding:5px 10px;margin-bottom:15px;text-align:center;
	}
	#content .msg-snippet-lbl{display: block;margin-bottom: 0px;font-weight: normal;color:#333;}
	#content .preferredtime{margin-left:40px;}
	#content .preferredtime select{width:360px;}
	div.form-fieldset #payment-security-icons{
		position: absolute;top: 10px;right: 0px;width: 151px;
	}
	div.form-fieldset #payment-security-icons div{
		float:right;display:inline-block;text-align:right;
	}
	div.form-fieldset #payment-security-icons .verisign_security_icon{width: 80px;height: 39px;}
	div.form-fieldset #payment-security-icons .trustwave_security_icon{width: 93px;height: 47px;}
	div.form-fieldset #payment-security-icons .card_icons{width: 151px;height: 31px;}
	div.form-fieldset #payment-security-icons img{max-width:100%;max-height:100%;}
	/* Order Review Table CSS */
	#content #left_sec .order-review-table-content{width:100%;display:inline-block;}
	#content #left_sec .order-review-table{width: 100%;display:table;font-size:14px;}
	#content #left_sec .order-review-table .table-row{display:table-row;}
	#content #left_sec .order-review-table .table-row .table-head{display:table-cell;color:#7fbd40;font-weight:bold;padding:3px;}
	#content #left_sec .order-review-table .table-row .table-head:first-child{width:70%;}
	#content #left_sec .order-review-table .table-row .table-cell{display:table-cell;padding:3px;}

	/* Authorization */
	#content #left_sec .confirm-order-details{
		width:100%;display:inline-block;margin:10px 0 0;padding-bottom:15px;color:#545557;font-size:13px;border-bottom:1px solid #e4e4e4;
	}
	#content #left_sec .confirm-address{float:left;width:65%;border-right:1px solid #e4e4e4;padding:10px 0;}
	#content #left_sec .confirm-address span{font-size:16px;color:#1e688f;font-weight:bold;display: block;padding-bottom:10px;}
	#content #left_sec .confirm-address b{display: block;}
	#content #left_sec .confirm-dates{float:right;padding:15px 10px 15px 0;}
	#content #left_sec .confirm-dates span{font-size:13px;color:#1e688f;font-weight:bold;display: block;padding-bottom:4px;}
	/* Confirm Order Table CSS */
	#content #left_sec .final-price-table-content{width:100%;display:inline-block;padding-top:10px;}
	#content #left_sec .final-price-table{width: 100%;display:table;font-size:14px;color:#545557;}
	#content #left_sec .final-price-table .table-row{display:table-row;}
	#content #left_sec .final-price-table .table-row .table-head{display:table-cell;color:#7fbd40;font-weight:bold;padding:3px;}
	#content #left_sec .final-price-table .table-row .table-head:first-child{width:70%;}
	#content #left_sec .final-price-table .table-row .table-cell{display:table-cell;padding:5px 3px;color:#555756;font-weight:bold;font-size:17px;}
	#content #left_sec .final-price-table .table-row .table-cell:nth-child(2) .cell-data{font-weight:normal;font-size:14px;line-height: 10px;}
	#content #left_sec .final-price-table .table-row .table-cell:nth-child(2){width:30%;}

	/* Confirm Order Table CSS */
	#content #left_sec .confirm-order-table-content{width:100%;display:inline-block;padding:10px;border:1px solid #f1f1f1;}
	#content #left_sec .confirm-order-table{width: 100%;display:table;font-size:13px;color:#545557;}
	#content #left_sec .confirm-order-table .table-row{display:table-row;}
	#content #left_sec .confirm-order-table .table-row .table-head{display:table-cell;color:#7fbd40;font-weight:bold;padding:3px;}
	#content #left_sec .confirm-order-table .table-row .table-head:first-child{width:20%;}
	#content #left_sec .confirm-order-table .table-row .table-head:nth-child(2){width:55%;}
	#content #left_sec .confirm-order-table .table-row .table-cell{display:table-cell;padding:3px;}
	#content #left_sec .confirm-order-table .table-row .table-cell:first-child{font-weight:bold;}
	
	/* Confirm Order Table CSS */
	#content #left_sec .agreements-table-content{width:100%;display:inline-block;padding:10px 15px;border:1px solid #f1f1f1;}
	#content #left_sec .agreements-table{width: 100%;display:table;font-size:13px;color:#545557;}
	#content #left_sec .agreements-table .table-row{display:table-row;border-bottom:1px solid #f1f1f1;}
	#content #left_sec .agreements-table .table-row:last-child{border-bottom:0;}
	#content #left_sec .agreements-table .table-row .table-cell{display:table-cell;padding:10px 3px;border-bottom:1px solid #e4e4e4;}
	#content #left_sec .agreements-table .table-row .table-cell:first-child{width:40%;color:#1d688f;font-weight:bold;}
	#content #left_sec .agreements-table .table-row .table-cell:first-child .cell-data{color:#545557;font-weight:normal;margin: 8px;width: 60%;}
	#content #left_sec .agreements-table .table-row .table-cell:nth-child(2){width:60%;}
	#content #left_sec .agreements-table .table-row:last-child .table-cell{border-bottom:0;}

	
}
@media only screen and (min-width: 725px) {
	#wrapper #Container{
		width: 725px !important;
		margin: 0 auto !important;
	}
	/*#content #right_sec {margin: 0 0 0 -25px;}*/
}
@media only screen and (max-width: 724px) {
	#wrapper #Container{
		width: 665px !important;
		margin: 0 auto !important;
	}
	#content #left_sec{min-width: 645px;margin:0 10px 0 10px !important;}
	/*#content #right_sec {margin: 0 0 0 -25px;}*/
}
/*@media only screen and (min-width: 930px) and (max-width: 1049px) {
	#content .col-md-9{max-width:665px;}
	#content .col-md-3{max-width:262px;}
	#wrapper #Container{
		width: 100% !important;
		min-width:665px;
	}
	#content #left_sec{min-width: 645px;margin:0 10px 0 10px !important;}
	#content #right_sec{width: 252px;margin:0 10px 0 0px !important;}
}
@media only screen and (max-width: 929px) {
	#wrapper #Container{
		width: 100% !important;
		min-width:665px !important;
	}
	#header{
		min-width: 665px !important;
		width:100% !important;
	}
	#content #left_sec{min-width: 645px;margin:0 10px 0 10px !important;}
	#content #right_sec{width: 252px;margin:0 10px 0 10px !important;}
}*/