@charset "utf-8";
.body {} .address {
    width: 400px;
    height: 120px;
    border: 2px solid #a1a1a1;
    border-radius: 5px;
    padding: 8px;
    display: none;
}
/*  .rLabel {
            float: right;
            font-weight: bold;
            width: 50%;
        }
        
        .lLabel {
            float: left;
            font-weight: bold;
            width: 50%;
        }
        
        .radioLabel {
            float: left;
            width: 18px;
        } */

.missingFields {
    color: #F00;
    font-size: 20px;
}
/*        .missingFields123
         {
            color: #F00;
            font-size: 20px;
        } 
         */

span.missingFieldSize {
    color: #F00;
    font-size: 12px;
}
span.missingDobSmallSize {
    color: #F00;
    font-size: 12px;
}
span.missingDobSize {
    color: #F00;
    font-size: 20px;
}
span.missingSecurityAnswer {
    color: #F00;
    font-size: 12px;
}
.pc_fldset_data_item span.value1 {
    font-size: 13px;
    color: #000;
    padding-left: 50px;
}
ul {
    list-style-type: disc;
    margin-left: 30px;
    color: #008000;
}
.pc_info_dialog {
    background-position: 4px 42px;
}
.pc_frameblk_cont input[type="password"] {
    border: 1px solid #616264;
    border-radius: 3px;
    color: #000;
    font-size: 12px;
    height: 20px;
    padding: 0 3px;
}
.pc_pdetails_cont {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin-top: 13px;
    font-family: Arial, Helvetica, sans-serif, Verdana;
}
.pc_pdetails_cont_error {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin-top: 13px;
}
.pc_pdetails_cont .pc_steps {
    float: left;
    width: 104px;
    margin-right: 13px;
}
.pc_pdetails_cont_error .pc_steps {
    float: left;
    width: 104px;
    margin-right: 13px;
}
.pc_steps_item_complete {
    width: 104px;
    height: 77px;
    color: #98c33d;
    text-align: center;
    background: url("images/CKO_steps_complete.png") no-repeat 0 4px;
}
.pc_steps_item_margin {
    margin-top: 15px;
}
.pc_steps_item_complete .countbg {
    float: left;
    background: url("images/CKO_steps_green.png") no-repeat 2px 2px;
    width: 25px;
    height: 24px;
    text-align: center;
    padding-top: 4px;
}
.pc_steps_item_stepdet {
    display: inline-block;
    padding-top: 8px;
}
.pc_steps_item_text {
    float: left;
    padding-top: 2px;
    font-size: 18px;
    font-weight: normal;
}
.pc_steps_item_sttext {
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    margin-top: -2px;
}
.pc_steps_item_progress {
    width: 102px;
    height: 75px;
    color: #666;
    text-align: center;
    border: 1px solid #616264;
    background-color: #ebebeb;
    border-radius: 5px;
}
.pc_steps_item_progress .countbg {
    float: left;
    background: url("images/CKO_steps_green.png") no-repeat 2px 2px;
    width: 25px;
    height: 24px;
    text-align: center;
    padding-top: 4px;
}
.pc_steps_item_progress .pc_steps_item_sttext {
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    margin-top: -2px;
    color: #98c33d;
}
.pc_steps_item_pending {
    width: 104px;
    height: 77px;
    color: #d7d7d7;
    text-align: center;
}
.pc_steps_item_pending .countbg {
    float: left;
    background: url("images/CKO_steps_grey.png") no-repeat 2px 2px;
    width: 25px;
    height: 24px;
    text-align: center;
    padding-top: 4px;
}
.countbg span {
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    padding-left: 3px;
}
.pc_steps_errorblk {
    height: 34px;
    margin-top: 10px;
    padding: 3px 20px 3px 20px;
    overflow: hidden;
    background-color: #fff568;
    font-size: 14px;
    font-weight: bold;
    color: #ff0000;
    line-height: 17px;
}
.pc_steps_errorblk div {
    height: 34px;
    font-size: 14px;
    font-weight: bold;
    color: #ff0000;
    display: table-cell;
    vertical-align: middle;
}
.pc_steps_errorblk span {
    height: 32px;
}
.pc_pdetails_cont .pc_frameblk {
    float: left;
    width: 849px;
    height: 450px;
    border: 1px solid #616264;
    padding: 10px 0 10px 13px;
    background-color: #e5e0d9;
    position: relative;
}
.pc_pdetails_cont .pc_frameblkOrderRecap {
    float: left;
    width: 849px;
    border: 1px solid #616264;
    padding: 10px 0 10px 13px;
    background-color: #fffff;
    position: relative;
}
.pc_pdetails_cont_error .pc_frameblk {
    float: left;
    width: 849px;
    height: 400px;
    border: 1px solid #616264;
    padding: 10px 0 10px 13px;
    background-color: #e5e0d9;
    position: relative;
}
.pc_frameblk .white_bg {
    background-color: #fff;
}
.pc_frameblk .error_bg {
    background-color: #fff568;
}
.pc_frameblk .error {
    color: #ff0000;
}
.pc_frameblk .bold {
    font-weight: bold;
}
.pc_frameblk .italic {
    font-style: italic;
}
.pc_frameblk_left_btns {
    float: right;
    position: absolute;
    left: 13px;
    top: 436px;
}
.pc_frameblk_right_btns {
    float: right;
    position: absolute;
    right: 13px;
    top: 436px;
}
.pc_pdetails_cont_error .pc_frameblk_left_btns {
    float: right;
    position: absolute;
    left: 13px;
    top: 386px;
}
.pc_pdetails_cont_error .pc_frameblk_right_btns {
    float: right;
    position: absolute;
    right: 13px;
    top: 386px;
}
.pc_frameblk_left_btns input {
    font-size: 14px;
    color: #000;
    height: 22px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    padding-bottom: 2px;
    background: url("images/button_back.png") repeat-x;
    cursor: pointer;
}
.pc_frameblk_right_btns input {
    font-size: 14px;
    color: #000;
    height: 22px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    padding-bottom: 2px;
    background: url("images/button_back.png") repeat-x;
    cursor: pointer;
}
.pc_frameblk_error_right_btns {
    float: right;
    position: absolute;
    right: 43px;
    top: 486px;
}
.pc_frameblk_error_right_btns input {
    font-size: 14px;
    color: #000;
    height: 22px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    padding-bottom: 2px;
    background: url("images/button_back.png") repeat-x;
    cursor: pointer;
}
.pc_frameblk_title {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #000;
}
.pc_frameblk_desc_cont {
    font-size: 12px;
    text-align: left;
    color: #666;
    overflow-y: auto;
    width: 828px;
    height: 177px;
    border: 1px solid #616264;
    background-color: #fff;
    margin: 3px 0 12px 0;
}
.pc_frameblk_desc_cont_data {
    padding: 8px 10px;
    line-height: 16px;
}
.pc_frameblk_desc_cont_data_item {
    display: inline-block;
    width: 100%;
}
.pc_frameblk_desc_cont_data span.label {
    font-size: 12px;
    font-weight: bold;
    color: #666;
}
.pc_frameblk_desc_cont_data span.value {
    font-size: 12px;
    color: #666;
    padding-left: 4px;
}
.pc_frameblk_desc_cont_data hr {
    border-color: #616264;
    margin: 12px 0;
}
.fltright {
    float: right;
}
.fltleft {
    float: left;
}
.pc_frameblk_cont {
    float: left;
    width: 849px;
    height: 388px;
    overflow-y: auto;
    margin-top: 10px;
    overflow-x: hidden;
}
.pc_pdetails_cont_error .pc_frameblk_cont {
    float: left;
    width: 849px;
    height: 335px;
    overflow-y: auto;
    margin-top: 10px;
    overflow-x: hidden;
}
.pc_frameblk_frame_title {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #000;
}
fieldset.pc_fldset {
    border: none;
    padding: 0;
    margin: 0;
    width: 826px;
    margin-bottom: 10px;
    background-color: #fff;
}
fieldset.pc_fldset legend {
    background-color: #e5edf3;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    border: 1px solid #616264;
    margin: 0;
    padding: 0;
    width: 824px;
    line-height: 16px;
}
fieldset.pc_fldset legend div {
    padding: 10px;
}
fieldset.pc_fldset legend div span {
    color: #ff0000;
}
fieldset.pc_fldset .pc_fldset_cont {
    padding: 10px 10px;
    line-height: 22px;
    border-color: #616264;
    border-style: solid;
    border-width: 0 1px 1px;
    font-size: 13px;
    color: #000;
}
fieldset.pc_fldset .pc_fldset_cont_txtflds {
    padding: 10px 10px;
    line-height: 30px;
    border-color: #616264;
    border-style: solid;
    border-width: 0 1px 1px;
    font-size: 13px;
    color: #000;
}
.pc_frameblk_cont input[type="text"] {
    border-radius: 3px;
    border: 1px solid #616264;
    color: #000;
    font-size: 12px;
    height: 20px;
    padding: 0 3px;
    /*height: 28px; */
}
.smalltext {
    width: 70px;
}
.pc_frameblk_cont select {
    border-radius: 3px;
    border: 1px solid #616264;
    color: #000;
    font-size: 12px;
    height: 20px;
}
.pc_fldset_data_item {
    display: inline-block;
    width: 100%;
    color: #000;
}
.pc_fldset_data_item_ach {
    border: 1px solid #616264;
    color: #000000;
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
    width: 95%;
}
.pc_fldset_data_item div.label_desc_ach {
    padding-bottom: 10px;
    width: 75%;
    line-height: 17px;
    padding-left: 13px;
    text-indent: -13px;
}
.pc_fldset_data_item_indented {
    display: inline-block;
    width: 100%;
    color: #000;
    margin: 10px 0 10px 30px;
}
.pc_fldset_data_item span.label {
    font-size: 13px;
    color: #000;
}
.pc_fldset_data_item span.labelfixed {
    font-size: 13px;
    color: #000;
    width: 140px;
    display: inline-block;
}
.pc_fldset_data_item span.labelchk {
    font-size: 13px;
    color: #000;
    width: 22px;
    margin-top: 1px;
    display: inline-block;
    vertical-align: top;
}
.pc_fldset_data_item span.label14grey {
    font-size: 14px;
    color: #808080;
}
.pc_fldset_data_item span.labelgrey {
    font-size: 13px;
    color: #999;
}
.pc_fldset_data_item_indented span.labelgrey {
    font-size: 13px;
    color: #999;
}
.pc_fldset_data_item span.label input[type="radio"] {
    vertical-align: top;
}
.pc_fldset_data_item span.label input[type="checkbox"] {
    vertical-align: top;
}
.pc_fldset_data_item span.value {
    font-size: 13px;
    color: #000;
    padding-left: 0px;
}
.pc_fldset_data_item span.valuechk {
    font-size: 13px;
    color: #000;
    padding-left: 0px;
    width: 770px;
    display: inline-block;
}
.pc_fldset_data_item_cont {
    width: 701px;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #616264;
    background-color: #efefef;
    margin: 10px 0 10px 30px;
}
.pc_fldset_data_item_cont_txtflds {
    width: 701px;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #616264;
    background-color: #efefef;
    margin: 10px 0 10px 30px;
    line-height: 28px;
}
.pc_fldset_data_item_cont_desc {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    line-height: 16px;
    padding-bottom: 7px;
}
.pc_fldset_data_item_cont div.label_desc {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    line-height: 17px;
}
.pc_fldset_subcont {
    line-height: 20px;
    font-size: 13px;
    color: #000;
}
.pc_info {
    padding: 5px 0 15px;
    height: 31px;
    background: url("images/CKO_info_icon.png") no-repeat 4px 7px;
    vertical-align: middle;
    display: table-cell;
    width: 826px;
}
.pc_info span {
    margin-left: 40px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #008000;
    width: 786px;
    display: block;
    line-height: 17px;
}
.pc_question_cont {
    padding: 10px 10px;
    line-height: 22px;
    background-color: #fff;
    border: 1px solid #616264;
    font-size: 13px;
    color: #000;
    width: 804px;
    margin-bottom: 10px;
}
.pc_question_cont_error {
    padding: 10px 10px;
    line-height: 22px;
    background-color: #fff568;
    border: 1px solid #616264;
    font-size: 13px;
    color: #000;
    width: 804px;
    margin-bottom: 10px;
}
.margin_top {
    margin-top: 10px;
}
.margin_bottom {
    margin-bottom: 10px;
}
.margin_right {
    margin-right: 10px;
}
.margin_right_double {
    margin-right: 20px;
}
.margin_left {
    margin-left: 10px;
}
.margin_left_double {
    margin-left: 20px;
}
.margin_left_bottom {
    margin-left: 105px;
    margin-bottom: 10px;
}
.hide {
    display: none;
}
.block {
    display: block;
}
.att_logoinfo {
    background: url("..images/15499381.png") no-repeat;
}
.orderplace_cont {
    background-color: #E0E0E0;
    border: 2px solid #616264;
    color: #000000;
    display: inline-block;
    height: 67px;
    margin-top: 3px;
    width: 835px;
}
.orderplace_datacont {
    display: table-cell;
    font-size: 16px;
    height: 40px;
    padding-left: 10px;
    vertical-align: middle;
}
.orderplace_datacont span {
    font-size: 14px;
}
.or_content {
    float: left;
    margin-bottom: 10px;
    text-align: left;
    width: 825px;
}
.or_itemdetails {
    padding-left: 24px;
    position: relative;
    width: 800px;
}
.or_basepricetoggle {
    cursor: pointer;
    left: 0;
    max-width: 24px;
    position: absolute;
    top: 31px;
}
.or_itemdetails .or_basemonthlyprice {
    color: #000000;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 3px;
    text-align: left;
    width: 100%;
}
.or_priceAlign {
    margin-left: 40px;
}
.or_basemonthlyprice .os_normal {
    font-size: 12px;
    font-weight: normal;
}
.or_basemonthlyprice tr.or_id_row1 {
    color: #0066CC;
    font-size: 14px;
    height: 25px;
    vertical-align: middle;
}
.or_basemonthlyprice tr.or_id_row1 th {
    border-bottom: 1px solid #000000;
    font-weight: normal;
}
.or_basemonthlyprice tr.or_id_row2 {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    height: 31px;
    margin-bottom: 7px;
    vertical-align: middle;
}
.or_basemonthlyprice tr.or_id_row2 td {
    border-bottom: 1px solid #000000;
}
.or_basemonthlyprice tr.or_id_row2_1 {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    margin-bottom: 7px;
    vertical-align: middle;
}
.or_basemonthlyprice tr.or_id_row2_1 td {} .or_basemonthlyprice tr.or_id_row3 td {} .or_basemonthlyprice tr.or_id_row4 {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    height: 31px;
    margin-bottom: 7px;
    vertical-align: middle;
}
.or_basemonthlyprice tr.or_id_row4 td {
    border-bottom: 1px solid #000000;
}
.or_basemonthlyprice_tbl {
    border: medium none;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding-bottom: 3px;
    text-align: left;
    width: 100%;
}
.or_reqinstdate {
    border-bottom: 1px solid #000000;
    color: #000000;
    margin-left: 24px;
    padding: 6px 0 8px;
}
.or_reqinstdate > div {
    display: table;
}
.or_reqinstdate_title {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.or_reqinstdate_lbl {
    color: #666666;
    float: left;
    font-size: 12px;
    width: 165px;
}
.or_reqinstdate_date {
    color: #666666;
    float: left;
    font-size: 12px;
}
.mandatoryDisclaimer {
    width: 100%;
}
.red {
    color: #FF0000;
    font-size: 16px;
    font-weight: bold;
}
fieldset.pc_fldset .pc_fldset_cont_txtflds1 {
    padding: 10px 10px;
    line-height: 30px;
    border-color: #616264;
    border-style: solid;
    font-size: 13px;
    color: #000;
}
.pc_frameblk_contt {
    float: left;
    width: 849px;
    height: 130px;
    overflow-y: auto;
    margin-top: 10px;
    overflow-x: hidden;
}
.customerInfoClass {
    background: #eef0f2 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    margin: 0 15px;
    padding: 10px;
    width: auto;
}
#CreditCheckForm .accordionButton {
    width: auto;
}
#accordionWrap .accordionButton h2 {
    color: #000000;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 75px;
    line-height: 26px;
    width: 350px;
}
.greenText {
    color: #81bd41;
    font-family: sans-serif;
    font-size: 1.25em;
}
.marginText {
    margin-top: 10px;
}
.darkGreenText {
    color: #008000;
    font-family: sans-serif;
    font-size: 1.25em;
}
.headerStyleText {
    border-right: 2px solid #fff;
    padding: 9px 16px;
    background: #e3e4e4;
    font-weight: normal;
    height: 40px;
}
.summaryHeadingcolor {
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, #6d9e35 0%, #74a839 33%, #81bd41 100%) repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    margin: 0;
    overflow: hidden;
    padding: 8px 0 0 12px;
    text-transform: uppercase;
    width: 849px;
}
.noPadding {
    padding: 0px 0px;
}
.headerLeftAlign {
    margin-left: -14px;
}
.textInlineBlock {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 1em;
}
.selectBoxSize {
    width: 46%;
}

.selectInstallDateBoxSize {
    width: 55%;
}

#accordionWrap h2 {
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 46px;
    line-height: 26px;
    width: 350px;
}
#accordionWrap h2 span {
    color: #74b13f !important;
    font-size: 15px;
}
.selectBoxwidth {
    width: 32%;
}
.personalQueueMessage {
    font-size: 16px;
    font-weight: normal;
}
.confirmMessage{
    font-size: 18px;
    color: #003366;
}
.customerBgColor {
   background-color: #eef0f2;
}
.termsText {
    font-family: "Arial",sans-serif;
    font-size: 16px;
}
.serviceTextAlign {
    color: #333333;
    display: block;
    font-size: 14px;
    padding: 0 0 5px;
}
.buttonMarginLeft{
	margin-left: 105px;	
}
/* .continueButtonAlign {
  margin-left: 124px;
} */
 .continueButtonAlign {
  margin-left: 130px;
}
